---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Toute l'actualité de DossierSCO" }}</h2>
      {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>{{ post.title | escape }}</h3>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          <p><a href="{{ post.url | relative_url }}">Lire la suite...</a>
        {%- endif -%}
      {%- endfor -%}

  {%- endif -%}

</div>
